<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="currency">
            <group id="centralbank" translate="label" sortOrder="41" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>T.C Merkez Bankası</label>
                <field id="timeout" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Connection Timeout in Seconds</label>
                    <comment></comment>
                </field>
                <field id="key" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>API Key</label>
                    <comment>Merkez Bankası benzersiz API key</comment>
                </field>
                <field id="url" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>API Url</label>
                    <comment>Merkez Bankası API Url : https://evds2.tcmb.gov.tr/service/evds/</comment>
                </field>
            </group>
        </section>
    </system>
</config>
